<% if @post.errors.any? %>
  <div style='border: solid 1px red;'>
    <%= @post.errors.full_messages.join(", ") %>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title, "Your title" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div>
    <%= check_box_tag :post_to_twitter %>
      Post to Twitter
  </div>

  <div>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>


  <%= f.submit %>
<% end %>
